body {
    transition: background-color 0.3s, color 0.3s;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}



.max-width {
    max-width: 1000px;
    margin: 0 auto;
}

.font {
    font-family: "Arimo", sans-serif;
}

.navbar {
    transition: background-color 0.3s, color 0.3s;
}

section {
    transition: background-color 0.3s, color 0.3s;
}


section h2 {
    color: inherit;
}

.separacion {
    margin-top: 300px;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-bottom-center {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px); 
    max-width: 984px;
    margin-left: 10px; 
    margin-right: 13px; 
}

.max-card {
    max-width: 300px;
}

.max-cert {
    max-width: 900px;
}

.opa-hover:hover {
    opacity: 80%;
    transition: opacity 0.3s ease-in-out;

}

.widthtext {
    max-width: 95%;
}